html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  position: absolute;
  transition: background-color 1s ease;
  /* filter: blur(8px) contrast(3) invert(80%) hue-rotate(30deg); */
}

#download { 
  visibility: hidden;
}

#name {
  position: absolute;
  left: calc(100vw - 380px);
  top: calc(100vh - 160px);
  font-family: Helvetica, sans-serif;
  font-style: italic;
  font-size: 30px;
  color: white;
  opacity: 0.7;
}